body {
  font-family: 'Roboto', sans-serif;
  background-color: #1168FE;

}
.background-as {
  background-color: #1168FE;
  /* #00A811 */
}
.club-logo-card {
  background-color: #fff;
  border-radius: 10px;
  margin: 0 7px;
  max-width: 150px;
  padding: 5px;
}
.club-logo-card a{
  /* padding-left: 0px;
  padding-right: 0px; */
  margin-left: 0;
  margin-right: 0;
}
.club-logo-card .card-body {
  padding: 0;
  padding-bottom: 5px;
}

#games_desktop_section, #games_mobile_section {
  background-color: #1168FE;
}
.games-table-container{
  border-radius: 10px;
  border: 1px solid #ced4da;
  padding-top: 5px!important;
}
.game-line {
  min-height: 80px;
}
.game-line p {
  margin-bottom: 0;
}
.game-line div {
  float: left;
  padding:5px;
}
.game-line-img {
  width:80px;
}
.game-line-rival {
  width:80px;
}
.game-line-city {
  width:150px;
}
.game-line-date {
  width:80px;
}
.game-line-time {
  width:80px;
}
.game-line-league {
  width:130px;
}
.game-line-button {
  width:auto;
}
.week-buttons {
  width:100%;
  max-width: 380px;
  height:50px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-right: auto;
  margin-left: auto;
  position: relative;

}
.week-buttons div {
  width:12.5%;
  height:100%;
  background-color: white;
  border-right: 1px solid white;
  text-align: center;
  padding-top: 22px;
  background-color: #f1f1f1;
}
.week-buttons div:hover {
  cursor: pointer;
}
.week-buttons div:first-child {
  border-radius: .25rem 0 0 .25rem;
}
.week-buttons div:last-child {
  border-right: none;
  border-radius: 0 .25rem .25rem 0;
}
.week-buttons div p {
  margin: 0;
  padding: 4px 0 0;
  line-height: 1;
  margin-top: 5px;
}
.active_calendar_day {
  background-color: lightblue!important;
}
.week_buttons_match_day {
  width: 25%!important;
  position:relative;
}
.angry-animate{
-webkit-animation:rotate 2s ease 0s infinite normal;
-moz-animation:rotate 2s ease 0s infinite normal;
-ms-animation:rotate 2s ease 0s infinite normal;
animation:rotate 2s ease 0s infinite normal;
}

@-webkit-keyframes rotate {
100%{ -webkit-transform: rotate(-360deg); transform: rotate(-360deg); }
}
@keyframes rotate {
100%{ transform: rotate(-360deg); }
}
.calendar_day_4_left, .calendar_day_4_right {
  height:100%;
  width:50%!important;
  position: absolute;
  top:0;
  left:0;
  opacity: 0;
  z-index: 3;
}
.calendar_day_4_right {
  left:50%;
}

.selected_departure_day, .selected_arrival_day {
  height:100%;
  /* width:120px; */
  position:absolute;
  top:0;
  left:25%;
  z-index: 1040;
  background-color: rgba(0, 180, 0, 0.3)!important;
  padding-top: 6px!important;
  border-right: none;
  transition: all 0.2s ease-out;
}
.selected_arrival_day {
  left:62.5%;
}
.match_day_icon {
  position: absolute;
  top:0;
  height: 100%;
  width: 100%!important;
  background-color: rgba(0, 0, 0, 0)!important;
  text-align: center;
  padding-top: 6px!important;
  z-index: 2;
  border-right: none!important;
}
#placeholder_table {
  min-height:50px;
}
/* #finger {
	-webkit-animation: slide-top 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) 1s infinite alternate-reverse both;
	        animation: slide-top 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) 1s infinite alternate-reverse both;
}
@-webkit-keyframes slide-top {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }
}
@keyframes slide-top {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }
} */
/* Мобилка */
.br-100 {
  border-radius: 100px;
}
.button_clubs_mobile {
  margin: 3px 5px;
}
.button_clubs_mobile:focus{
  margin-bottom: 10px;
}
/* карточка игры на мобилке */
.game-card-mob {
  border-bottom: 1px solid lightgray;
}
@media (max-width: 992px) {
  #club_cards {
    display:none!important;
  }
  #placeholder_table {
    min-height:50px;
  }
  .button_clubs_mobile:focus, .button_clubs_mobile:active {
    border: 3px solid gray;
  }
}
