body {
  font-family: 'Roboto', sans-serif;
}
.background-as {
  background-color: #1168FE;
  /* #00A811 */
}
.club-logo-card {
  background-color: #fff;
  border-radius: 10px;
  margin: 5px;
  max-width: 150px;
  padding: 5px;
}
.club-logo-card a{
  /* padding-left: 0px;
  padding-right: 0px; */
  margin-left: 0;
  margin-right: 0;
}
.club-logo-card .card-body {
  padding: 0;
  padding-bottom: 5px;
}
.games-table-container{
  border-radius: 10px;
}
.game-line {
  min-height: 80px;
}
.game-line p {
  margin-bottom: 0;
}
.game-line div {
  float: left;
  padding:5px;
}
.game-line-img {
  width:80px;
}
.game-line-rival {
  width:80px;
}
.game-line-city {
  width:150px;
}
.game-line-date {
  width:80px;
}
.game-line-time {
  width:80px;
}
.game-line-league {
  width:130px;
}
.game-line-button {
  width:auto;
}
.week-buttons {
  width:480px;
  height:60px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-right: auto;
  margin-left: auto;
  position: relative;

}
.week-buttons div {
  width:60px;
  height:60px;
  background-color: white;
  border-right: 1px solid white;
  text-align: center;
  padding-top: 25px;
  background-color: #f1f1f1;
}
.week-buttons div:hover {
  cursor: pointer;
}
.week-buttons div:first-child {
  border-radius: .25rem 0 0 .25rem;
}
.week-buttons div:last-child {
  border-right: none;
  border-radius: 0 .25rem .25rem 0;
}
.week-buttons div p {
  margin: 0;
  padding: 4px 0 0;
  line-height: 1;
  margin-top: 5px;
}
.active_calendar_day {
  background-color: lightblue!important;
}
.week_buttons_match_day {
  width: 120px!important;
  position:relative;
}
#match_day_left, #match_day_right {
  height:100%;
  width: 60px;
  position: absolute;
  top:0;
  left:0;
  opacity: 0;
  z-index: 9999;
}
#match_day_right {
  left:60px;
}

.calendar_day_departure, .calendar_day_arrival {
  height:100%;
  width:120px;
  position:absolute;
  top:0;
  left:60px;
  z-index: 9999;
  background-color: rgba(30, 150, 6, 0.3)!important;
  padding-top: 6px!important;
  border-right: none;
}
.match_day_icon {
  position: absolute;
  top:0;
  left:30px;
  height: 100%;
  width: 60px;
  background-color: rgba(0, 0, 0, 0)!important;
  text-align: center;
  padding-top: 6px!important;
  z-index: 2;
  border-right: none!important;
}
.calendar_day_arrival {
  left:300px;
}
#s, #s2 {
  transition: all 0.2s ease-out;
}
